.app.tower-enabled {
  cursor: none; }

.top-buttons {
  width: 514px;
  margin: 40px auto 0 auto;
  font-size: 20px; }
  .top-buttons > i {
    display: inline-block; }
    .top-buttons > i:hover {
      color: white; }
    .top-buttons > i + i {
      margin-left: 10px; }

.main-screen {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .main-screen .video-box {
    border: 1px solid #d6f6e9;
    width: 514px;
    height: 386px;
    position: relative; }
    .main-screen .video-box .distance-container {
      width: 120px;
      height: 80px;
      position: absolute;
      top: calc(50% - 40px);
      left: calc(50% - 60px); }
      .main-screen .video-box .distance-container .value {
        display: block;
        margin-top: 71px;
        font-size: 14px;
        text-align: center; }
      .main-screen .video-box .distance-container .top {
        width: 100%;
        height: 25px; }
        .main-screen .video-box .distance-container .top::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 25px;
          height: 25px;
          border-top: 1px solid #d6f6e9;
          border-left: 1px solid #d6f6e9; }
        .main-screen .video-box .distance-container .top::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 25px;
          height: 25px;
          border-top: 1px solid #d6f6e9;
          border-right: 1px solid #d6f6e9; }
      .main-screen .video-box .distance-container .bottom {
        width: 100%;
        height: 25px; }
        .main-screen .video-box .distance-container .bottom::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 25px;
          height: 25px;
          border-bottom: 1px solid #d6f6e9;
          border-left: 1px solid #d6f6e9; }
        .main-screen .video-box .distance-container .bottom::after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          width: 25px;
          height: 25px;
          border-bottom: 1px solid #d6f6e9;
          border-right: 1px solid #d6f6e9; }
    .main-screen .video-box .degree {
      position: absolute;
      font-size: 12px;
      color: #222222;
      border-radius: 2px;
      transform-style: preserve-3d;
      perspective: 500px; }
      .main-screen .video-box .degree span {
        position: absolute; }
      .main-screen .video-box .degree.x-direction {
        bottom: -33px;
        color: #d6f6e9;
        text-align: center;
        width: 514px;
        margin-left: -1px;
        height: 32px;
        overflow: hidden; }
        .main-screen .video-box .degree.x-direction span {
          top: 12px; }
        .main-screen .video-box .degree.x-direction > div {
          width: 300%;
          height: 10px;
          transform: translateX(-50%);
          background: url("./bottom-lines.png") repeat-x; }
      .main-screen .video-box .degree.y-direction {
        left: -33px;
        text-align: center;
        width: 32px;
        height: 100%;
        overflow: hidden;
        color: #d6f6e9; }
        .main-screen .video-box .degree.y-direction span {
          height: 15px;
          top: 187px;
          left: 0;
          width: 20px; }
        .main-screen .video-box .degree.y-direction > div {
          height: 300%;
          width: 15px;
          margin-left: 19px;
          transform: translateY(-50%);
          background: url("./left-lines.png") repeat-y; }
    .main-screen .video-box img {
      display: block;
      z-index: 2; }
    .main-screen .video-box.no-signal {
      background: url("./no-signal.gif"); }
      .main-screen .video-box.no-signal p {
        text-align: center;
        z-index: 1;
        position: absolute;
        top: 164px;
        width: 100%; }
        .main-screen .video-box.no-signal p span {
          display: inline-block;
          background: #d6f6e9;
          color: #222222; }
