.app.tower-enabled {
  cursor: none; }

.main-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px; }
  .main-screen .video-box {
    border: 1px solid #d6f6e9;
    width: 513px;
    height: 385px;
    position: relative; }
    .main-screen .video-box .degree {
      position: absolute;
      font-size: 13px; }
      .main-screen .video-box .degree.x-direction {
        bottom: -20px;
        left: 50%; }
      .main-screen .video-box .degree.y-direction {
        left: -20px;
        bottom: 50%; }
    .main-screen .video-box img {
      display: block;
      z-index: 2; }
    .main-screen .video-box.no-signal {
      background: url("./no-signal.gif"); }
      .main-screen .video-box.no-signal p {
        text-align: center;
        z-index: 1;
        position: absolute;
        top: 164px;
        width: 100%; }
        .main-screen .video-box.no-signal p span {
          display: inline-block;
          background: #d6f6e9;
          color: #222222; }
