@import "../../settings.scss";

.app {
  &.tower-enabled {
    cursor: none;
  }
}

.main-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;

  .video-box {
    border: 1px solid $color-default;
    width: 514px;
    height: 386px;
    position: relative;

    .degree {
      position: absolute;
      font-size: 12px;
      color: $color-background;
      background: $color-default;
      border-radius: 2px;

      &.x-direction {
        bottom: -20px;
        text-align: center;
        width: 20px;
      }

      &.y-direction {
        left: -25px;
        text-align: center;
        width: 20px;
      }
    }


    img {
      display: block;
      z-index: 2;
    }

    &.no-signal {
      background: url("./no-signal.gif");

      p {
        text-align: center;
        z-index: 1;
        position: absolute;
        top: 164px;
        width: 100%;

        span {
          display: inline-block;
          background: $color-default;
          color: $color-background;
        }
      }
    }
  }
}
