@import "../../settings.scss";

.main-screen {
  display: flex;
  margin: 100px 20px;
  .left-box,
  .right-box,
  .video-box {
    border-bottom: 1px solid $color-default;
    border-top: 1px solid $color-default;
    min-height: 300px;
    width: 40%;
  }
  .video-box {
    width: 60%;
    border: 1px solid $color-default;
  }


}
